<form (submit)="save()" *ngIf="item">
  <div class="container">
    <div class="row">
      <div class="col-4">Title</div>
      <div class="col-8"><input class="form-control" [(ngModel)]="item.title" name="title"></div>
    </div>
    <div class="row">
      <div class="col-4">Description</div>
      <div class="col-8"><input class="form-control" [(ngModel)]="item.description" name="description"></div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Save</button>
        <button class="btn btn-secondary" type="reset" [routerLink]="['']">Back</button>
      </div>
    </div>
  </div>
</form>