<div class="container">
  <ul>
    <li *ngFor="let item of items">
      <button class="btn btn-primary" [routerLink]="['view', item.id]">View</button>
      <button class="btn btn-primary" [routerLink]="['edit', item.id]">Edit</button>
      <button class="btn btn-danger" (click)="delete(item.id)">Delete</button>
      {{item.title}}
    </li>
  </ul>
  <button class="btn btn-success" routerLink="/new">Add</button>
</div>